<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="app-version" content="<%= htmlWebpackPlugin.options.appVersion %>">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no,width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>仲裁系统</title>
</head>
<body>
  <%=htmlWebpackPlugin.files.webpackManifest%>
  <div id="app"></div>
  <script>
    //todo initStore赋值 第三方对接、注入脚本、前期验证（登录、权限等）
  </script>
</body>
</html>